# IDE
.vscode/
.idea/

# Python
__pycache__/
.pytest_cache/
.ruff_cache/
*.py[cod]
*$py.class
*.coverage

# Environments
venv/
.venv/
env/
.env/
.pixi/

# Local Secrets
.env
.env.*

# Jupyter Notebook
.ipynb_checkpoints/

# Logs and temporary files
/temp
/tmp
/logs
*.tmp
*.log
*.jsonl

# ML Artifacts
data/
models/
outputs/
generated/
runs/
*.pth
*.pt
*.ckpt
*.onnx

# Build artifacts
deploy/
build/
dist/
out/
*.egg-info
*.whl
*.tar.gz

# Os files
.DS_Store
Thumbs.db